@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/poppins';
@import '@fontsource/roboto';

@layer base {
  body {
    font-family: 'Poppins';
    background: #000;
  }

  ::selection {
    @apply bg-slate-200 text-black;
  }
}

@layer utilities {
  .clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  }
}

.bg-gradient-metal {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2) 10%,
    rgba(51, 51, 51, 0.1) 120%
  );
}

.header-bg {
  background: radial-gradient(
      circle at top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 70%,
      rgba(255, 255, 255, 0.05) 80%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    radial-gradient(
      circle at top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 70%,
      rgba(255, 255, 255, 0.05) 80%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url('/assets/images/profile_pic.svg') no-repeat center center;
  filter: brightness(120%) contrast(100%);
  background-size: cover;
}

/* not used, but there for reference. This is used in tailwind fashion in Circle.tsx */
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1),
    0px 8px 10px rgba(0, 0, 0, 0.1), 0px 12px 18px rgba(0, 0, 0, 0.1);
  transform: translateZ(0);
}

/* common circle style */
.circle {
  @apply absolute rounded-[100%] bg-[radial-gradient(_64.18%_64.18%_at_71.16%_35.69%,#def9fa_0.89%,#bef3f5_17.23%,#9dedf0_42.04%,#7de7eb_55.12%,#5ce1e6_71.54%,#33bbcf_100%_)] shadow-[0px_4px_20px_rgba(0,0,0,0.1),0px_6px_6px_rgba(0,0,0,0.1),0px_8px_10px_rgba(0,0,0,0.1),0px_12px_18px_rgba(0,0,0,0.1)];
}

/* skills ring */

.skill {
  position: absolute;
  top: 15rem;
  left: 15rem;
  /* top: 10rem;
  left: 10rem; */
  will-change: transform;
  animation-name: orbit;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* combine this style with either -fe (frontend) or -be (backend) */
}

.skill-fe {
  /* change font-size to easily change how big the orbit
    should be. 10px will make the radius 10px. */
  font-size: 17rem;
  /* font-size: 10rem; */
}

.skill-be {
  /* change font-size to easily change how big the orbit
    should be. 10px will make the radius 10px. */
  font-size: 11rem;
  /* font-size: 8rem; */
}

@keyframes orbit {
  from {
    transform: rotate(0turn) translateX(1em) rotate(0turn);
  }
  to {
    transform: rotate(1turn) translateX(1em) rotate(-1turn);
  }
}

.node {
  animation-delay: 0s;
}

.sql {
  animation-delay: 2.5s;
}

.python {
  animation-delay: 5s;
}

.mongo {
  animation-delay: 7.5s;
}

.html {
  animation-delay: 0s;
}

.css {
  animation-delay: 3s;
}

.js {
  animation-delay: 6s;
}
.sass {
  animation-delay: 9s;
}
.jquery {
  animation-delay: 12s;
}
.tailwind {
  animation-delay: 15s;
}
.ts {
  animation-delay: 18s;
}
.react {
  animation-delay: 21s;
}

@media (max-width: 1280px) {
  .skill {
    top: 15rem;
    left: 25rem;
  }
  .skill-be {
    /* change font-size to easily change how big the orbit
      should be. 10px will make the radius 10px. */
    font-size: 8rem;
  }
  .skill-fe {
    /* change font-size to easily change how big the orbit
      should be. 10px will make the radius 10px. */
    font-size: 14rem;
  }
}

@media (max-width: 1185px) {
  .skill {
    top: 15rem;
    left: 23.5rem;
  }
  .skill-be {
    font-size: 8rem;
  }
  .skill-fe {
    font-size: 14rem;
  }
}

@media (max-width: 1116px) {
  .skill {
    top: 15rem;
    left: 21rem;
  }
  .skill-be {
    font-size: 8rem;
  }
  .skill-fe {
    font-size: 14rem;
  }
}

@media (max-width: 1023px) {
  .skill {
    top: 16rem;
    left: 25rem;
  }
  .skill-be {
    font-size: 7rem;
  }
  .skill-fe {
    font-size: 12rem;
  }
}

@media (max-width: 980px) {
  .skill {
    top: 16rem;
    left: 24rem;
  }
  .skill-be {
    font-size: 6.9rem;
  }
  .skill-fe {
    font-size: 12rem;
  }
}

@media (max-width: 945px) {
  .skill {
    top: 16rem;
    left: 23rem;
  }
  .skill-be {
    font-size: 6.9rem;
  }
  .skill-fe {
    font-size: 12rem;
  }
}

@media (max-width: 892px) {
  .skill {
    top: 16rem;
    left: 21rem;
  }
  .skill-be {
    font-size: 7rem;
  }
  .skill-fe {
    font-size: 12rem;
  }
}

@media (max-width: 824px) {
  .skill {
    top: 16rem;
    left: 20rem;
  }
  .skill-be {
    font-size: 7rem;
  }
  .skill-fe {
    font-size: 12rem;
  }
}

/* small screen */
@media (max-width: 767px) {
  .skill {
    top: 16rem;
    left: 18rem;
  }
  .skill-be {
    font-size: 8rem;
  }
  .skill-fe {
    font-size: 12rem;
  }
}

@media (max-width: 689px) {
  .skill {
    top: 16rem;
    left: 17rem;
  }
  .skill-be {
    font-size: 7.5rem;
  }
  .skill-fe {
    font-size: 12rem;
  }
}

@media (max-width: 663px) {
  .skill {
    top: 16rem;
    left: 16rem;
  }
  .skill-be {
    font-size: 7rem;
  }
  .skill-fe {
    font-size: 12rem;
  }
}

@media (max-width: 639px) {
  .skill-graphic {
    display: none;
  }
}

/* Navbar for small screen */
.navigation__button {
  /* background-color: transparent;
  background-color: gainsboro;
  height: 4rem;
  width: 4rem;
  margin-right: 35%;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 6rem; */
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
@media (max-width: 56.25em) {
  .navigation__button {
    /* top: 2rem; */
    /* right: 4rem; */
  }
}
@media (max-width: 37.5em) {
  .navigation__button {
    /* top: 3rem;
    right: 3rem; */
  }
}

.navigation__background {
  height: 1.4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: -1.3rem;
  right: 1px;
  /* background-image: radial-gradient(#747a73, #060606); */
  background-image: linear-gradient(
    167deg,
    rgba(65, 67, 74, 1) 0%,
    rgba(0, 4, 15, 1) 100%,
    rgba(180, 198, 250, 1) 100%
  );
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
/* @media (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
} */

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 1rem;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 240%;
  transition: all 0.4s;
}
.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 2rem;
  display: inline-block;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: rgb(0, 20, 20);
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
  /* background-image: radial-gradient(rgba(65, 67, 74, 1), rgba(0, 4, 15, 1)); */
  background-image: linear-gradient(
    167deg,
    rgba(65, 67, 74, 1) 0%,
    rgba(0, 4, 15, 1) 100%,
    rgba(180, 198, 250, 1) 100%
  );
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 1.6rem;
  height: 1.5px;
  background-color: #78f4ee;
  display: inline-block;
  position: absolute;
  cursor: pointer;
}
.navigation__icon::before,
.navigation__icon::after {
  content: '';
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.4rem;
}
.navigation__icon::after {
  top: 0.4rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 0.7rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -0.7rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg);
}
