@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/poppins';
@import '@fontsource/roboto';

@layer base {
  body {
    @apply bg-black;
    font-family: 'Poppins';
  }

  ::selection {
    @apply bg-slate-200 text-black;
  }
}

.bg-gradient-metal {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2) 10%,
    rgba(51, 51, 51, 0.1) 120%
  );
}

.header-bg {
  background: radial-gradient(
      circle at top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 70%,
      rgba(255, 255, 255, 0.05) 80%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    radial-gradient(
      circle at top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 70%,
      rgba(255, 255, 255, 0.05) 80%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url('/assets/images/profile_pic.svg') no-repeat center center;

  background-size: cover;
  height: 100vh;
}

/* not used, but there for reference. This is used in tailwind fashion in Circle.tsx */
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1),
    0px 8px 10px rgba(0, 0, 0, 0.1), 0px 12px 18px rgba(0, 0, 0, 0.1);
  transform: translateZ(0);
}
